<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:add_related_product), "javascript:;", class: "btn-success", data: { toggle: "modal", target: "#addRelatedProduct" }, icon: 'add' %>
<% end if !@relation_types.empty? %>

<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Related Products' } %>

<%= csrf_meta_tag %>

<% if @relation_types.any? %>
  <div class="modal fade" id="addRelatedProduct" tabindex="-1" role="dialog" aria-labelledby="addRelatedProductLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addRelatedProductLabel"><%= Spree.t(:add_related_product) %></h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= label_tag :product_id, "Product ID" %>
            <%= text_field_tag :product_id, '', class: 'form-control' %>
          </div>
          <div id="related_product_type" class="form-group">
            <%= label_tag :add_type, Spree.t(:type) %>
            <%= select_tag :add_type, options_for_select(@relation_types.map { |rt| [rt.name, rt.id] }), class: 'select2' %>
          </div>
          <%= button_link_to Spree.t(:add), admin_product_relations_url(@product), icon: 'add', class: 'btn-success', id: 'add_related_product', data: { update: 'products-table-wrapper' } %>
        </div>
      </div>
    </div>
  </div>

  <div id="products-table-wrapper">
    <%= render 'related_products_table', product: @product %>
  </div>

  <%= content_for :head do %>
    <script type="text/javascript">
      var expand_variants = false;
      $(document).on('click', '#add_related_product', function(){
        if($('#product_id').val() == '') { return false; }
        update_target = $(this).data('update');
        $.ajax({
          dataType: 'script',
          url: this.href,
          type: 'POST',
          data: {
            'relation[related_to_type]' : 'Product',
            'relation[related_to_id]': $('#product_id').val(),
            'relation[relation_type_id]': $('#add_type').val(),
            'relation[discount_amount]' : $('#add_discount').val()
          }
        });
        return false;
      });
    </script>
  <% end %>
<% else %>
  <div class="alert alert-warning no-objects-found">
    <%= Spree.t(:no_relation_types) %>
  </div>
<% end %>
